            <h1>Your orders</h1>
            <div class="orders">
                {{#each orders}}
                <div class="order">
                    <p class="order-time">{{this.dateCreated}}</p>
                    <span class="order-name">{{product.category}} doner, {{product.size}} cm</span>
                    <span class="order-status">{{status}}</span>
                    <a href="/order/details/{{id}}" class="button order-button">Details</a>
                </div>
                {{else}}
                <p>You have no orders.</p>
                {{/each}}
            </div>
